In [1]:
import pandas as pd
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)
obj3['California']

np.True_

In [64]:
import math
math.isnan(obj2['California'])

True

In [67]:
obj2['California'] == None

False

In [66]:
import pandas as pd
d = {'1': 'Alice','2': 'Bob','3': 'Rita','4': 'Molly','5': 'Ryan'}
S = pd.Series(d)

In [8]:
S.iloc[0:2]

1    Alice
2      Bob
dtype: object

In [9]:
S.iloc[0:3]

1    Alice
2      Bob
3     Rita
dtype: object

In [10]:
import pandas as pd
records1 = pd.Series({"Name":"Alice","Class":"Physics","Score":85})
records2 = pd.Series({"Name":"Jack","Class":"Chemistry","Score":82})
records3 = pd.Series({"Name":"Molly","Class":"Biology","Score":90})
df = pd.DataFrame([records1,records2,records3],index=["school1","school2","school1"])
df.head()

          Name      Class  Score
school1  Alice    Physics     85
school2   Jack  Chemistry     82
school1  Molly    Biology     90

In [12]:
df.rename(mapper=lambda x:x.upper(),axis=1,inplace=True)
df.head()

          NAME      CLASS  SCORE
school1  Alice    Physics     85
school2   Jack  Chemistry     82
school1  Molly    Biology     90

In [17]:
df1 = df.rename(mapper=lambda x: x.upper(),axis='columns')
df1.head()

          NAME      CLASS  SCORE
school1  Alice    Physics     85
school2   Jack  Chemistry     82
school1  Molly    Biology     90

In [18]:
df2= df.rename(mapper=lambda x: x.upper(),axis=1)
df2.head()

          NAME      CLASS  SCORE
school1  Alice    Physics     85
school2   Jack  Chemistry     82
school1  Molly    Biology     90

In [19]:
df3 = df.rename(mapper=lambda x:x.upper(),axis=1)
df3.head()

          NAME      CLASS  SCORE
school1  Alice    Physics     85
school2   Jack  Chemistry     82
school1  Molly    Biology     90

In [30]:
import pandas as pd
records1 = pd.Series({"gre score":"337","toefl":"118"})
records2 = pd.Series({"gre score":"324","toefl":"107"})
records3 = pd.Series({"gre score":"316","toefl":"104"})
records4 = pd.Series({"gre score":"322","toefl":"110"})
records5 = pd.Series({"gre score":"314","toefl":"103"})

df = pd.DataFrame([records1,records2,records3],index=["school1","school2","school1"])
df.head()

        gre score toefl
school1       337   118
school2       324   107
school1       316   104

In [32]:
df['toefl'] = pd.to_numeric(df['toefl'], errors='coerce')
df[df['toefl'] > 105]
df.head()

        gre score  toefl
school1       337    118
school2       324    107
school1       316    104

In [36]:
import pandas as pd
records1 = pd.Series({"one":"1","two":"1","three":"2","four":"3"})
records2 = pd.Series({"one":"4","5":"2","three":"6","four":"7"})
records3 = pd.Series({"one":"8","two":"9","three":"10","four":"11"})
records4 = pd.Series({"one":"12","two":"13","three":"14","four":"4"})

df = pd.DataFrame([records1,records2,records3,records4],index=["Ohio","Colorado","Utah","NYC"])
df.head()

         one  two three four    5
Ohio       1    1     2    3  NaN
Colorado   4  NaN     6    7    2
Utah       8    9    10   11  NaN
NYC       12   13    14    4  NaN

In [39]:
df.drop('one',axis=1)
df.head()

         one  two three four    5
Ohio       1    1     2    3  NaN
Colorado   4  NaN     6    7    2
Utah       8    9    10   11  NaN
NYC       12   13    14    4  NaN

In [43]:
df.drop(["Utah","Colorado"])

     one two three four    5
Ohio   1   1     2    3  NaN
NYC   12  13    14    4  NaN

In [45]:
df.drop('two')

KeyError: "['two'] not found in axis"

In [73]:
import pandas as pd
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})
s2[1]

/var/folders/y9/kswx7vmd4qq__6lg8px9jl3r0000gn/T/ipykernel_37365/2409800886.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s2[1]

np.int64(2)

In [69]:
s1.loc[1]

'Alice'

In [70]:
s2.iloc[1]

np.int64(2)

In [71]:
s2.loc[1]

KeyError: 1

In [ ]:
import pandas as pd

In [75]:
records1 = pd.Series({"gre score":"337","toefl":"118"})
records2 = pd.Series({"gre score":"324","toefl":"107"})
records3 = pd.Series({"gre score":"316","toefl":"104"})
records4 = pd.Series({"gre score":"322","toefl":"110"})
records5 = pd.Series({"gre score":"314","toefl":"103"})

df = pd.DataFrame([records1,records2,records3,records4,records5],index=["1","2","3","4","5"])
df.head()
df.where(df['toefl']>105)

TypeError: '>' not supported between instances of 'str' and 'int'

In [57]:
df['toefl'] = pd.to_numeric(df['toefl'], errors='coerce')
df[(df['toefl'] > 105) & (df['toefl'] < 115)]

  gre score  toefl
2       324    107
4       322    110

In [61]:
df['toefl'] = pd.to_numeric(df['toefl'], errors='coerce')
df[(df['toefl'] > 105) & (df['toefl'] < 115)]

  gre score  toefl
2       324    107
4       322    110

In [63]:
df['toefl'] = pd.to_numeric(df['toefl'], errors='coerce')
df[(df['toefl']).gt(105) & (df['toefl'].lt(115))]

  gre score  toefl
2       324    107
4       322    110